####################################
# Root
####################################
node_modules/
.env
.env.*
!.env.example

####################################
# Backend
####################################
backend/node_modules/
backend/.env
backend/.env.*
!backend/.env.example

# Uploads (keep folder, ignore files)
backend/seed/
backend/uploads/*
!backend/uploads/.gitkeep

# Logs / temp
backend/logs/*
!backend/logs/.gitkeep

####################################
# Frontend
####################################
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.*
!frontend/.env.example

####################################
# OS / Editor
####################################
.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

####################################
# Cache / temp
####################################
.cache/
.history/
